{% extends 'admin/base_site.html' %}
 

{% block informes%}
    <!-- Content -->

    <div id="content" class="colM">
  
 <style type="text/css" >
  
  .container {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 100px;
  }
  

  .button {
      width: 250px;
      height: 65px;
      background: #2c0055;
      box-shadow: 0px 0px 16px #4169E1;
      border-radius: 2px;
      z-index: 3;
      border: 2px solid;
      transition: all 1s ease-in-out;
      border-image: linear-gradient(#00CED1, #00BFFF) 30;
      
      text-align: center;
      font-family: "Calibri", cursive;
      left: 56px;
      font-size: 25px;
      line-height: 70px;
      margin: 0 auto;
      transition: all 0.3s ease-in-out;
      background: -webkit-linear-gradient(#1E90FF, #87CEFA);
      
      }
 
 </style>


<div class="container">
<a href="{% url 'comun:listado' %}">
<div class="button">
<span>Informe de Productos</span>
</div><div class="sun"></div>
</a>
</div>


<div class="container">
<a href="{% url 'comun:listado_compras' %}">
<div class="button">
<span>Informe de Compras</span>
</div><div class="sun"></div>
</a>
</div>

<div class="container">
<a href="{% url 'comun:listado_ventas' %}">
<div class="button">
<span>Informe de Ventas</span>
</div><div class="sun"></div>
</a>
</div>

<div class="container">
<a href=" {% url 'comun:home' %} ">
<div class="button">
<span>Regresar</span>
</div><div class="sun"></div>
</a>
</div>


    <br class="clear">

    </div>
    <!-- END Content -->
{% endblock %} 

  